/* Basic */

@font-face {
	font-family: "Raleway";
	font-weight: 300;
	src: url(../font/Raleway/Raleway-Light.otf) format("opentype");
}

@font-face {
	font-family: "Raleway";
	font-weight: 500;
	src: url(../font/Raleway/Raleway-Medium.otf) format("opentype");
}

* {
	box-sizing: border-box;
	user-select: none;
}

@supports (-webkit-touch-callout: none) {
	
	* {
		background-attachment: scroll !important;
	}
	
}

html {
	color: #222;
	font-family: 'Raleway', sans-serif;
	font-size: calc(14px + (0.005 * min(100vw, 1440px)));
	font-weight: 300;
	line-height: 1.8em;
	font-variant-numeric: lining-nums;
}

body {
	margin: 0;
	padding: 0;
}

header, section, footer {
	position: relative;
	border-bottom: calc(0px + (0.01 * min(100vh, 1440px))) solid #2a94eb;
	padding-top: 1px;
}

article {
	max-width: 1440px;
	margin: 6rem auto;
	padding: 0 calc(0px + (0.05 * min(100vw, 1440px)));
}

/* Header & Footer */

header {
	height: 101vh;
	background-size: contain !important;
}

footer {
	border-bottom-width: 0;
}

footer article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 2rem 0 0 0;
}

footer article p {
	margin: 0 calc(0px + (0.05 * min(100vw, 1440px))) 2rem calc(0px + (0.05 * min(100vw, 1440px)));
	font-size: calc(10px + (0.005 * min(100vw, 1440px)));
	line-height: 1.8em;
	font-weight: 500;
}

footer article p a {
	color: inherit !important;
}

footer article p a.social-media {
	margin-left: 1rem;
}

footer article p a.social-media:first-child {
	margin-left: 0;
}

footer article p a.social-media img {
	height: 2.4em;
}

/* Layouts */

.dark {
	background-color: #222;
	color: #ccc;
}

.background-image {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; 
}

.background-image article {
	background-color: rgba(255, 255, 255, .9);
	padding-top: 1px;
	padding-bottom: 2rem;
	width: calc(0px + (0.9 * min(100vw, 1440px)));
}

/* Typography */

h1 {
	margin: 4rem 0 2rem 0;
	font-size: calc(24px + (0.03 * min(100vw, 1440px)));
	font-weight: 300;
	line-height: 1.6em;
}

h2 {
	margin: 3rem 0 2rem 0;
	font-size: calc(18px + (0.015 * min(100vw, 1440px)));
	font-weight: 300;
	line-height: 1.6em;
}

h3 {
	font-size: calc(14px + (0.005 * min(100vw, 1440px)));
	font-weight: 500;
	line-height: 1.6em;
}

p {
	margin: 2rem 0;
	font-size: calc(14px + (0.005 * min(100vw, 1440px)));
	font-weight: 300;
	line-height: 1.8em;
	hyphens: auto;
}

a:link, a:visited, a:focus, a:hover, a:active {
	color: #2a94eb;
	text-decoration: none;
}

a.button:link, a.button:visited, a.button:focus, a.button:hover, a.button:active {
	display: inline-block;
	color: #222;
	border: 1px solid #222;
	padding: 1rem 2rem;
	margin-top: 1rem;
}

.dark a.button:link, .dark a.button:visited, .dark a.button:focus, .dark a.button:hover, .dark a.button:active {
	color: #ccc;
	border: 1px solid #ccc;
}

/* Images */

.image-head {
	background-image: url(../image/head_720.jpg);
}

.image-uni-kult {
	background-image: url(../image/uni-kult_720.jpg);
}

@media (min-width: 720px) {

	.image-head {
		background-image: url(../image/head_1440.jpg);
	}

	.image-uni-kult {
		background-image: url(../image/uni-kult_1440.jpg);
	}
	
}

@media (min-width: 1440px) {

	.image-head {
		background-image: url(../image/head_2560.jpg);
	}

	.image-uni-kult {
		background-image: url(../image/uni-kult_2560.jpg);
	}
	
}